# Object files
**/*.o

# Der files
**/*.der

# Build Binaries
**/slack
**/gcm_test
**/rsa_test

# Keep ASM code
!**/*.asm

# History
.gdb_history
repomix-output.xml

# Test stuff
**/*.pem
**/*.crt
**/*.key

# Environment files
.env